* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 400px;
  padding: 40px;
  text-align: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
}

.auth-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.auth-subtitle {
  color: #aaa;
  margin-bottom: 30px;
}

.social-btn {
  width: 100%;
  /* padding: 12px; */
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  background: #111;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 16px;
  
}

.social-btn:hover {
  background: #357ae8;
}
.social-btn span {
  margin-left: 8px; /* space between emoji and text */
}


.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #333;
}

.divider span {
  margin: 0 10px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #ccc;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #333;
  background: #111;
  color: white;
}

.input-group input:focus {
  outline: none;
  border-color: #2563eb;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
  color: #ccc;
}

.checkbox input {
  margin-right: 8px;
}

.checkbox a {
  color: #3b82f6;
  text-decoration: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #2563eb, #1d4ed8);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
}

.bottom-text {
  margin-top: 20px;
  color: #aaa;
}

.bottom-text a {
  color: #3b82f6;
  text-decoration: none;
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; 
  height: 40px;          
  line-height: 1.2;      
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 12px;        
  top: 50%;           
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;    
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
